@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
body,
div,
body,
header,
nav,
aside,
section,
article,
h1,
h2,
h3,
h4,
h5,
p,
li a,
footer {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* @import url(http://fonts.googleapis.com/css?family=Loved+by+the+King); */
/* @import url(http://fonts.googleapis.com/css?family=Homemade+Apple); */
/* @import url(http://fonts.googleapis.com/css?family=Wire+One); */
/* @import url(http://fonts.googleapis.com/css?family=Coming+Soon); */
/* @import url(http://fonts.googleapis.com/css?family=Calligraffitti); */
@font-face {
  font-family: 'engravers_gothic_fsregular';
  src: url('../fonts/EngraversGothic-Ext-webfont.eot');
  src: url('../fonts/EngraversGothic-Ext-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/EngraversGothic-Ext-webfont.woff') format('woff'), url('../fonts/EngraversGothic-Ext-webfont.ttf') format('truetype'), url('../fonts/EngraversGothic-Ext-webfont.svg#engravers_gothic_fsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @sans-serif: 'Wire One', Helvetica, arial, sans-serif; */
/* @handwritten: 'Loved by the King', cursive, serif; */
/* @handwritten: 'Amatic SC', cursive, serif; */
.button {
  position: relative;
  font-size: 1.6em;
  font-family: 'Julius Sans One', Helvetica, arial, sans-serif;
}
/*  /// Layout ///  */
.col {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
}
.col:before,
.col:after {
  content: "";
  display: table;
}
.col:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.content-area > div {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
}
.content-area > div:before,
.content-area > div:after {
  content: "";
  display: table;
}
.content-area > div:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .content-area > div {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.full {
  width: 100%;
  max-width: none;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-margin-btm {
  margin-bottom: 3em;
}
.one-col {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
}
.one-col:before,
.one-col:after {
  content: "";
  display: table;
}
.one-col:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .one-col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.two-col {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
  padding: 0 6%;
}
.two-col:before,
.two-col:after {
  content: "";
  display: table;
}
.two-col:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .two-col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 680px) {
  .two-col > div {
    width: 47.5%;
    margin: 0;
    float: left;
  }
  .two-col div:first-child {
    margin-right: 5%;
  }
}
.three-col {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
  padding: 0;
}
.three-col:before,
.three-col:after {
  content: "";
  display: table;
}
.three-col:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .three-col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 710px) {
  .three-col > div {
    width: 31.8%;
    margin: 0 0 0 2.3%;
    float: left;
  }
  .three-col div:first-child {
    margin-left: 0;
  }
}
.four-col {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
  padding: 0;
}
.four-col:before,
.four-col:after {
  content: "";
  display: table;
}
.four-col:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .four-col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .four-col > div {
    width: 23.5%;
    margin: 0 0 0 2%;
    float: left;
  }
  .four-col div:first-child {
    margin-left: 0;
  }
}
.two-third-col-left {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
  padding: 0;
}
.two-third-col-left:before,
.two-third-col-left:after {
  content: "";
  display: table;
}
.two-third-col-left:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .two-third-col-left {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 710px) {
  .two-third-col-left > div {
    width: 31.8%;
    margin: 0 0 0 2.3%;
    float: left;
  }
  .two-third-col-left div:first-child {
    margin-left: 0;
  }
}
.two-third-col-left div:first-child {
  width: 65.1%;
}
.two-third-col-right {
  width: 100%;
  margin: 0;
  padding: 3em 2% 6em;
  zoom: 1;
  *zoom: 1;
  display: block;
  padding: 0;
}
.two-third-col-right:before,
.two-third-col-right:after {
  content: "";
  display: table;
}
.two-third-col-right:after {
  clear: both;
}
@media screen and (min-width: 1099px) {
  .two-third-col-right {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 710px) {
  .two-third-col-right > div {
    width: 31.8%;
    margin: 0 0 0 2.3%;
    float: left;
  }
  .two-third-col-right div:first-child {
    margin-left: 0;
  }
}
.two-third-col-right div:first-child + div {
  width: 65.1%;
}
/* // Real Brand Layout Styles // */
.border-bottom {
  border-bottom: 1px #e1e1e1 solid;
}
.border-top {
  border-top: 1px #e1e1e1 solid;
}
.border-left {
  border-top: 1px #e1e1e1 solid;
}
.border-right {
  border-top: 1px #e1e1e1 solid;
}
.content {
  padding: 2em;
  background: #888;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
}
.content h1,
.content h2,
.content h3,
.content p {
  color: #fff;
}
.inner-shadow {
  box-shadow: inset 0 0 3em 1em rgba(0, 0, 0, 0.05);
}
/*  /// Animated Stuff ///  */
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.clear {
  clear: both;
}
.block {
  display: block;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  margin: 0;
  height: 100%;
  padding: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* html, button, input, select, textarea { font-family: sans-serif; } */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1.3em;
  background-color: #000;
  position: relative;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  font-family: Helvetica, arial, sans-serif;
  font-weight: 400;
  color: #c85147;
  text-decoration: none;
}
p a {
  font-family: Helvetica, arial, sans-serif;
}
/* .no-touch */
a {
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:visited {
  color: #c85147;
}
/* a:hover { color: #3bb6fe; } */
a:focus {
  outline: thin dotted;
}
li a {
  text-decoration: none;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Julius Sans One', Helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 1.2em;
  margin: 0 0 0.3em;
  color: #000;
  text-rendering: optimizeLegibility;
}
h1 {
  line-height: 1em;
}
p,
blockquote,
small {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.3em;
  color: #000;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Layout
   ========================================================================== */
.wrapper {
  height: 100%;
  margin: 0 auto;
  zoom: 1;
  *zoom: 1;
  display: block;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media screen and (min-width: 1120px) {
  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.body section[role="main"] {
  height: 100%;
}
section[role="main"] {
  padding: 0;
}
section[role="main"] h1 {
  max-width: 720px;
  font-size: 4.2em;
}
section[role="main"] h2 {
  font-size: 3.2em;
}
section[role="main"] p {
  max-width: 440px;
  margin: 0 0 1.3em;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.6em;
}
section[role="main"] img {
  width: 100%;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul {
  font-family: Helvetica, arial, sans-serif;
  margin: 30px 0;
  padding: 0 0 0 20px;
}
ul {
  list-style-type: none;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* =============================================================================
   Buttons
   ========================================================================== */
.button {
  margin: 0 0 1.6em;
  padding: 1em 4em;
  background-color: #00a1ff;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
@media screen and (min-width: 880px) {
  .button {
    padding: 1em 4em;
    font-size: 1.4em;
  }
}
.cta {
  background-color: #ffb320;
}
.facebook-btn {
  padding-left: 6em;
  background-color: #3d5b9a;
  position: relative;
}
.facebook-btn span {
  height: 90%;
  margin: 1% 0;
  padding: 10px 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 16px;
  border-right: 1px solid #738bbd;
}
.facebook-btn span img {
  width: 22px;
  height: 22px;
}
.button:visited {
  color: #fff;
}
@media screen and (min-width: 600px) {
  .button,
  .facebook-btn img {
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  /* .no-touch { */
  .button:visited {
    color: #fff;
  }
  .button:hover {
    color: #d1edfe;
    background-color: #3bb6fe;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2);
  }
  .cta:hover {
    color: #feeac4;
    background-color: #fec350;
  }
  .facebook-btn:hover {
    color: #738bbd;
    background-color: #536ea5;
  }
  .facebook-btn:hover img {
    opacity: 0.4;
  }
  .button:active {
    background-color: #eee;
  }
  /* } */
}
/* =============================================================================
   Page Specific Styles
   ========================================================================== */
/* ==|== primary styles =====================================================
   Author: pmarich@realnetworks.com
   ========================================================================== */
/* // HEADER STYLES // */
/* ==|== MAIN HEADER styles =====================================================
   Author: pmarich@realnetworks.com
   Use: To style basic header
   ========================================================================== */
/* // - - HEADER - - // */
#header {
  margin: 0 1%;
  padding: 6px 0 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: inset 0 1px 22px 8px #ffffff;
  float: none;
}
#header #logo {
  max-width: 140px;
  margin: 20px auto 0;
  display: block;
}
#header h1 {
  margin: 0;
  float: left;
  font-size: 1.6em;
  line-height: 50px;
  color: #00a1ff;
  font-style: italic;
  vertical-align: baseline;
  position: relative;
  bottom: -6px;
}
@media screen and (max-width: 719px) {
  #header h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
@media screen and (min-width: 720px) {
  #header {
    margin-left: 210px;
    border-bottom: 1px solid #c3e9fc;
  }
  #header #logo {
    max-width: 200px;
    margin: -3px 0 0;
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 1399px) {
  #header {
    max-width: 1400px;
  }
}
.util {
  margin: 0;
  padding: 0;
  display: none;
}
@media screen and (min-width: 720px) {
  .util {
    display: block;
    float: right;
  }
  .util li {
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-align: center;
    float: left;
  }
  .util li a {
    margin: 0;
    padding: 0 12px;
    font-size: 1.3em;
    line-height: 50px;
    display: block;
  }
}
/* // END HEADER // */
/* // END HEADER // */
/* // - - MAIN STYLES FOR INDIVIDUAL PAGE - - '' */
/* Change "style-area" id title with meaningful name (ie. hero, content, about, etc_ */
#hero {
  width: 100%;
  max-width: none;
  height: auto;
  text-align: center;
  box-shadow: inset 0 0 3em 1em rgba(0, 0, 0, 0.05);
  overflow: hidden;
  z-index: 100;
  position: relative;
  /*
@media (min-aspect-ratio: 1/1) {
		height: 100%;
	}
*/
}
#hero > div {
  max-width: none;
  height: 100%;
  overflow: hidden;
}
#hero .copy {
  padding-top: 8em;
  z-index: 1000;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  position: relative;
}
#hero #logo {
  width: 60px;
  width: 5.1vw;
  height: auto;
  margin: 0 auto 1.4em;
  padding: 0;
  position: relative;
}
#hero #logo:before {
  content: "";
  border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
  width: 42px;
  width: 10.8vw;
  height: 1px;
  position: absolute;
  left: -48px;
  left: -12.6vw;
  top: 55%;
  display: block;
}
#hero #logo:after {
  content: "";
  border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
  width: 42px;
  width: 10.8vw;
  height: 1px;
  position: absolute;
  right: -48px;
  right: -12.6vw;
  top: 55%;
  display: block;
}
#hero h1 {
  margin: 0 auto 0.55em;
  position: relative;
  font-family: 'Pinyon Script', cursive, serif;
  font-weight: 200;
}
#hero h1 span {
  font-size: 9.2em;
  font-size: 21vw;
  line-height: 1em;
  font-weight: 200;
  text-shadow: 0 3px 18px #fff;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.6);
}
#hero h1 span:nth-child(2) {
  margin: 0 0.6em;
  font-size: 1.8em;
  font-size: 3.8vw;
  position: relative;
  top: -26px;
  left: -12px;
}
#hero h1:first-letter {
  font-size: 1.1em;
  position: relative;
  bottom: 10px;
  letter-spacing: -0.8vw;
}
#hero h2 {
  max-width: 55%;
  margin: 0 auto 0.6em;
  font-family: 'engravers_gothic_fsregular', helvetica, sans-serif;
  font-size: 3em;
  font-size: 3.8vw;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#hero p {
  margin: 0 auto 0.6em;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.4em;
  letter-spacing: 4px;
  position: relative;
  text-transform: uppercase;
}
#hero p sup {
  font-size: 0.5em;
}
#hero .city {
  margin-bottom: 14em;
}
@media screen and (min-width: 640px) {
  #hero .copy {
    padding-top: 13vh;
  }
}
@media screen and (min-width: 800px) and (min-aspect-ratio: 1/1) {
  #hero {
    height: 100%;
  }
  #hero .copy {
    padding-top: 8em;
    padding-top: 14vh;
  }
  #hero #logo {
    width: 60px;
    width: 5.1vw;
  }
  #hero h1 {
    margin-bottom: 0;
  }
  #hero h1 span {
    font-size: 15.4vw;
  }
  #hero h2 {
    max-width: 33%;
    margin-bottom: 0.6em;
    font-size: 3em;
    font-size: 2.2vw;
  }
  #hero p {
    font-size: 1.6em;
  }
  #hero .city {
    margin-bottom: 0;
  }
}
#main-nav {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 -1px 0 #000000;
  box-shadow: 0 -1px 0 #000000, inset 0 0 20px rgba(0, 0, 0, 0.1), inset 0 -2px 0 rgba(255, 255, 255, 0.3), inset 0 -4px 0 #000000;
  /* box-shadow: 0 -4px rgba(255,255,255,0.2), inset 0 -1px 0 @highlight-color; */
  box-sizing: border-box;
  zoom: 1;
  *zoom: 1;
  /*
@media screen and (min-width: 560px) {
		top: -40px;
	}
*/
}
#main-nav:before,
#main-nav:after {
  content: "";
  display: table;
}
#main-nav:after {
  clear: both;
}
#main-nav a {
  margin: 0.6em 0 0;
  font-family: 'engravers_gothic_fsregular', helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* color: @link-color; */
  color: #000;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  text-shadow: 0 0 0 #ee2243;
  z-index: 4001;
  position: relative;
}
#main-nav a:hover {
  /* color: @link-color; */
  opacity: 1;
  text-shadow: 0 0 12px #ee2243;
}
#main-nav ul {
  width: 66.666%;
  margin: 1em 16.666%;
  padding: 0;
  zoom: 1;
  *zoom: 1;
  /* background-color: #000; */
}
#main-nav ul:before,
#main-nav ul:after {
  content: "";
  display: table;
}
#main-nav ul:after {
  clear: both;
}
#main-nav li {
  width: 33.333%;
  height: 40px;
  float: left;
}
#main-nav li a {
  font-size: 1.8em;
  display: block;
}
#main-nav .more {
  padding: 0.3em 1em;
  position: absolute;
  top: -100%;
  left: 50%;
  border: 1px solid #000;
  border-radius: 6px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transition: all 0.2s ease-in-out;
  background: transparent;
  font-size: 1.35em;
  color: #000;
  /* color: #ee2243; */
}
#main-nav .more:hover {
  /* padding: 0.4em 1.1em; */
  background: rgba(0, 0, 0, 0.8);
  /* color: @link-color; */
  color: #e1e1e1;
  /* box-shadow: 0 3px 12px 1px rgba(0,0,0,0.3); */
  text-shadow: none;
}
/*
.vid-wrap {
	width: 100%;
	height: 100%;
	.clearfix;
	background: transparent url('../img/bg-border.png') repeat-x bottom left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
*/
#feat-img {
  margin: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  /* filter: blur(1px); */
  /* -webkit-filter: blur(1px); */
  z-index: 0;
  overflow: hidden;
}
@media (min-aspect-ratio: 2/1) {
  #feat-img {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 2/1) {
  #feat-img {
    width: auto;
    height: 100%;
  }
}
/* - - // SECONDARY CONTENT // - - */
#secondary {
  padding: 0;
  position: relative;
  background: #000;
  background: #000000 url('../img/bg-bokeh.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  position: static;
  z-index: 2000;
  overflow: hidden;
}
#secondary h2 {
  margin: 0.2em auto 0.15em;
  color: #fff;
  font-size: 8em;
  font-family: 'Pinyon Script', cursive, serif;
  text-align: center;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
  position: relative;
  display: inline-block;
}
#secondary h2:before {
  content: "";
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
  width: 22px;
  height: 1px;
  position: absolute;
  left: -31px;
  top: 0.6em;
  display: block;
}
#secondary h2:after {
  content: "";
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
  width: 22px;
  height: 1px;
  position: absolute;
  right: -31px;
  top: 0.6em;
  display: block;
}
#secondary p {
  color: #fff;
}
@media screen and (min-width: 560px) {
  #secondary h2 {
    margin: 0.5em auto 0.15em;
    font-size: 11.6em;
  }
}
#where {
  /* .two-col; */
  width: 100%;
  max-width: none;
  padding: 3em 10% 6em;
  background: transparent;
  background: -moz-linear-gradient(top, #000000 20%, rgba(0, 0, 0, 0.61) 51%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #000000), color-stop(51%, rgba(0, 0, 0, 0.61)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 20%, rgba(0, 0, 0, 0.61) 51%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 20%, rgba(0, 0, 0, 0.61) 51%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 20%, rgba(0, 0, 0, 0.61) 51%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 20%, rgba(0, 0, 0, 0.61) 51%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  position: relative;
  z-index: 2020;
}
#where > div {
  text-align: center;
  zoom: 1;
  *zoom: 1;
}
#where > div:before,
#where > div:after {
  content: "";
  display: table;
}
#where > div:after {
  clear: both;
}
#where h3 {
  max-width: 25.5%;
  margin: 0 auto 1.4em;
  font-family: 'engravers_gothic_fsregular', helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  text-transform: uppercase;
}
#where .deets,
#where aside,
#where small {
  min-height: 140px;
}
#where .deets {
  width: 41%;
  margin: 0;
  padding: 0 3%;
  border-right: 1px solid #888;
  border-right: 1px solid rgba(255, 255, 255, 0.14);
  overflow: hidden;
  float: left;
}
#where .deets p {
  max-width: 21em;
  margin: 0 auto;
  /* text-align: left; */
}
#where p {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 1px;
}
#where aside {
  width: 29%;
  margin: 0;
  padding: 0 3% 0 4%;
  float: left;
  border-right: 1px solid #888;
  border-right: 1px solid rgba(255, 255, 255, 0.14);
}
#where aside p {
  margin: 0 auto 0.2em;
  padding: 0.6em 0;
  display: block;
  letter-spacing: 2px;
  color: #ddd;
}
#where aside p span {
  display: block;
}
#where small {
  margin: 0 auto 3em;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
}
#where small:after {
  content: "";
  border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
  width: 22px;
  height: 1px;
  position: absolute;
  right: 50%;
  top: 1.5em;
  transform: translate(11px, 0);
  display: block;
}
#where .links {
  width: 29%;
  margin: 0;
  padding: 0 4%;
  float: left;
  /*
li:first-child {
			padding-top: 0;
		}
*/
}
#where .links ul {
  margin: 0;
  padding: 0;
}
#where .links li {
  width: 100%;
  margin: 0 0 0.6em;
  padding: 0;
  /* border-bottom: 1px rgba(255,255,255,0.4) solid; */
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  display: block;
}
#where .links li a {
  padding: 1em 0;
  color: #c85147;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  display: block;
}
#where .pics {
  width: 33%;
  margin: 0;
  float: left;
}
#where .pics li {
  width: 100%;
  display: block;
}
#where .pics img {
  width: 100%;
  opacity: 0.8;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.6);
}
.local-img {
  width: 220px;
  height: 220px;
  margin: 0 auto 4em;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 2px #000000, 0 3px 124px 16px rgba(0, 0, 0, 0.9);
}
.local-img img {
  width: 400px;
  height: auto;
}
.local-img .chapel {
  width: 320px;
  position: relative;
  top: 0;
  left: -50px;
}
.local-img .house {
  width: 310px;
  position: relative;
  top: 0;
  left: -46px;
}
#registry {
  margin: 0;
  padding: 0 0 24em;
  background-color: #fff;
  background: #ffffff url('../img/bg-registry.jpg') no-repeat center bottom;
  background-size: contain;
  text-align: center;
  zoom: 1;
  *zoom: 1;
  z-index: 2002;
  position: relative;
}
#registry:before,
#registry:after {
  content: "";
  display: table;
}
#registry:after {
  clear: both;
}
#registry h2 {
  margin-bottom: 0.3em;
  color: #000;
}
#registry h2:before {
  border-bottom: 1px rgba(0, 0, 0, 0.8) solid;
}
#registry h2:after {
  border-bottom: 1px rgba(0, 0, 0, 0.8) solid;
}
#registry ul {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3em 2% 1.5em;
  zoom: 1;
  *zoom: 1;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
#registry ul:before,
#registry ul:after {
  content: "";
  display: table;
}
#registry ul:after {
  clear: both;
}
#registry li {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  zoom: 1;
  *zoom: 1;
}
#registry li:before,
#registry li:after {
  content: "";
  display: table;
}
#registry li:after {
  clear: both;
}
#registry li a {
  width: 80%;
  height: 80%;
  margin: 0 10%;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  overflow: hidden;
  display: block;
}
#registry li img {
  width: 70%;
  height: auto;
  margin: 0 15% 4em;
  opacity: 1;
}
@media screen and (min-width: 774px) {
  #registry ul {
    width: 80%;
    max-width: 1100px;
    padding: 0;
    border: none;
  }
  #registry li {
    width: 33.3%;
    float: left;
  }
  #registry li a {
    width: 190px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  #registry li a:hover {
    background: #d1c602;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(209, 198, 2, 0.7) 0%, rgba(200, 50, 29, 0.67) 31%, rgba(131, 24, 38, 0.6) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(209, 198, 2, 0.7)), color-stop(31%, rgba(200, 50, 29, 0.67)), color-stop(100%, rgba(131, 24, 38, 0.6)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(209, 198, 2, 0.7) 0%, rgba(200, 50, 29, 0.67) 31%, rgba(131, 24, 38, 0.6) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(209, 198, 2, 0.7) 0%, rgba(200, 50, 29, 0.67) 31%, rgba(131, 24, 38, 0.6) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(209, 198, 2, 0.7) 0%, rgba(200, 50, 29, 0.67) 31%, rgba(131, 24, 38, 0.6) 100%);
    /* IE10+ */
    background: linear-gradient(45deg, rgba(209, 198, 2, 0.7) 0%, rgba(200, 50, 29, 0.67) 31%, rgba(131, 24, 38, 0.6) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3d1c602', endColorstr='#99831826', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  #registry li a:hover img {
    opacity: 0.3;
  }
  #registry li img {
    margin: 92px 10% 0;
  }
  #registry li:first-child {
    margin-left: 0;
  }
  #registry li:first-child img {
    margin-top: 78px;
  }
}
@media screen and (min-width: 980px) {
  #registry ul {
    width: 80%;
    max-width: 1100px;
  }
  #registry li a {
    width: 240px;
    height: 240px;
  }
  #registry li img {
    margin: 112px 10% 0;
  }
  #registry li:first-child img {
    margin-top: 98px;
  }
}
@media screen and (min-width: 1280px) {
  #registry ul {
    width: 80%;
    max-width: 1160px;
  }
  #registry li a {
    width: 300px;
    height: 300px;
  }
  #registry li img {
    margin: 138px 10% 0;
  }
  #registry li:first-child img {
    margin-top: 120px;
  }
}
.page {
  background: #000;
  background: #000000 url('../img/bg-bokeh.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  box-shadow: inset 0 -80px 400px rgba(0, 0, 0, 0);
}
.page header {
  width: 100%;
  min-height: 120px;
  padding: 6em 1% 4em;
  text-align: center;
}
.page #logo img {
  max-width: 80px;
  height: auto;
  margin: 0 auto 3em;
  display: block;
  opacity: 0.25;
}
.page h1 {
  margin: 0.2em auto 0.15em;
  color: #fff;
  font-size: 9em;
  font-size: 8.8vw;
  font-family: 'Pinyon Script', cursive, serif;
  text-align: center;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
  position: relative;
  display: inline-block;
}
.page h1:before {
  content: "";
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
  width: 22px;
  height: 1px;
  position: absolute;
  left: -31px;
  top: 0.45em;
  display: block;
}
.page h1:after {
  content: "";
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
  width: 22px;
  height: 1px;
  position: absolute;
  right: -31px;
  top: 0.45em;
  display: block;
}
#gallery {
  zoom: 1;
  *zoom: 1;
  position: relative;
}
#gallery:before,
#gallery:after {
  content: "";
  display: table;
}
#gallery:after {
  clear: both;
}
#gallery ul {
  margin: 0 2%;
  padding: 0;
  zoom: 1;
  *zoom: 1;
  background-color: #000;
  box-shadow: 0 2px 150px 60px #000;
}
#gallery ul:before,
#gallery ul:after {
  content: "";
  display: table;
}
#gallery ul:after {
  clear: both;
}
#gallery li {
  width: 100%;
  height: auto;
  margin: 0 0 1em;
  zoom: 1;
  *zoom: 1;
}
#gallery li:before,
#gallery li:after {
  content: "";
  display: table;
}
#gallery li:after {
  clear: both;
}
#gallery li div {
  width: 24.5%;
  height: auto;
  margin: 0 1% 0 0;
  float: left;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 2000;
  position: relative;
}
#gallery li div img {
  /* width: 112%; */
  height: auto;
  transition: all 0.2s ease-in-out;
  transform: translate(0, 0);
  /* position: absolute; */
  position: relative;
}
#gallery li div:last-child {
  margin-right: 0;
}
#gallery li div:first-child {
  width: 49%;
}
#gallery li div:nth-child(2) {
  width: 50%;
  margin-right: 0;
  box-shadow: 0 10px #000;
  position: relative;
  z-index: 2020;
}
#gallery li div:nth-child(2) img {
  transform: translate(0, -20%);
}
#gallery li div:hover img {
  /* transform: translate(0.1%,-0.2%); */
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
#gallery li:nth-child(2) div {
  margin: 0 0 0 1%;
  float: right;
}
#gallery li:nth-child(2) div:last-child {
  margin-left: 0;
}
#gallery li:nth-child(2) div:nth-child(2) {
  margin-left: 0;
}
#gallery .small {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  #gallery {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.go-to-gal {
  width: 100%;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
  display: none;
}
/*
.litebox-container {
	cursor: pointer;
}
*/
/*
#gallery:hover .go-to-gal {
	display: block;
}
*/
/* // FOOTER STYLES // */
/* ==|== MAIN FOOTER styles =====================================================
   Author: pmarich@realnetworks.com
   Use: To style basic footer
   ========================================================================== */
/* // - - FOOTER - - // */
#footer {
  padding: 0 6%;
  background-color: #000;
  text-align: center;
  zoom: 1;
  *zoom: 1;
  z-index: 10;
  position: relative;
}
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#footer:after {
  clear: both;
}
#footer ul {
  width: 100%;
  padding: 0;
}
#footer ul.social {
  width: 184px;
  margin: 30px auto 52px;
  padding: 0;
  display: block;
}
#footer ul.social li {
  margin: 0 0 0 24px;
  float: left;
}
#footer ul.social li a {
  display: block;
  color: #888;
}
#footer ul.social li a span {
  font-size: 4.5em;
}
#footer ul.social li:first-child {
  margin: 0;
}
#footer ul:not(.social) {
  width: 100%;
  margin: 0 0 40px;
  padding: 0;
}
#footer ul:not(.social) li {
  float: left;
  margin: 10px 20px 0 0;
}
#footer ul:not(.social) li a {
  font-size: 1.3em;
}
#footer ul.legal {
  margin: 0;
  clear: both;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#footer ul.legal li {
  width: 100%;
  padding: 0 0 10px;
  text-align: center;
}
#footer ul.legal li a {
  color: #999;
}
@media screen and (max-width: 599px) {
  #footer ul:not(.social):before {
    margin: 0;
    padding: 0 0 4px;
    border-bottom: #ccc solid 1px;
    font-family: helvetica, sans-serif;
    color: #aaa;
    text-align: left;
    display: block;
  }
  #footer ul.products:before {
    content: "products";
  }
  #footer ul.community:before {
    content: "community";
  }
  #footer ul.contact:before {
    content: "contact";
  }
  #footer ul.help:before {
    content: "help";
  }
  #footer ul.legal:before {
    border-bottom: none;
  }
}
@media screen and (min-width: 320px) {
  #footer ul.legal {
    width: auto;
    margin: 40px 0 0;
    padding: 0 6%;
    clear: both;
    float: none;
    text-align: center;
    border: none;
    display: inline-block;
    border-top: none;
    border-bottom: 1px solid #ccc;
  }
  #footer ul.legal li {
    width: 100%;
    margin: 0;
  }
  #footer ul.legal li:first-child {
    padding-left: 0;
  }
}
@media screen and (min-width: 450px) {
  #footer ul.legal li {
    width: auto;
    margin: 0px 0px 4px 0px;
    padding-left: 30px !important;
  }
}
@media screen and (min-width: 600px) {
  #footer {
    padding: 0 5%;
  }
  #footer ul:not(.social) {
    width: 25%;
    margin: 0 auto;
    border-top: none;
    border-left: 1px solid #ccc;
    float: left;
  }
  #footer ul:not(.social) li {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    display: inline-block;
    float: none;
    text-align: center;
  }
  #footer ul:not(.social) li a {
    font-size: 1.2em;
  }
  #footer ul:not(.social) a {
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #00a1ff;
    float: none;
  }
  #footer ul.products {
    border: none;
  }
  #footer ul.legal {
    width: 100% !important;
    margin: 40px 0 0;
    padding: 0 16%;
    border-left: none;
  }
  #footer ul.legal li {
    width: auto;
  }
  #footer ul.legal a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1300px) {
  #footer ul:not(.social) li a {
    font-size: 1.3em;
  }
}
#footer #copyright {
  width: 100%;
  margin: 12px 0 18px;
  padding: 0 20px;
  float: left;
  clear: both;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: italic;
  line-height: 1.3em;
  color: #999;
  text-align: center;
}
@media screen and (min-width: 860px) {
  #footer {
    padding: 0 18%;
  }
}
/* END #footer */
.no-touch #footer a:hover {
  color: #3bb6fe;
}
.no-touch #footer ul.social a:hover,
.no-touch #footer ul.legal a:hover {
  color: #aaa;
}
.no-touch #footer ul.social a:active,
.no-touch #footer ul.legal a:active {
  color: #fff;
}
/* // Use this code for a sticky footer on pages with little content // */
/*
@media screen and (min-height: 750px) {
	footer {
	    width: 100%;
	    position: absolute;
	    bottom: 0;
	}
}
*/
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
/*
@media only screen and (min-width: 35em) {
  Style adjustments for viewports that meet the condition 
}
*/
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
*::selection {
  background: none;
  background-color: #00a1ff;
}
*::-moz-selection {
  background: none;
  background-color: #00a1ff;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
